/* title */

.Node.is-currentRoot > .Node-self
{
	margin-top: .4em;
	margin-bottom: 1.4em;
}
.Node.is-currentRoot > .Node-self .node-line,
.Node.is-currentRoot > .Node-self.is-heading .node-line,
.Node.is-currentRoot > .Node-self .node-line-strict,
.Node.is-currentRoot > .Node-self.is-heading .node-line-strict
{
	height: inherit;
	line-height: 1.3;
}
.Node.is-currentRoot > .Node-self .Node-renderedContent,
.Node.is-currentRoot > .Node-self .Node-content
{
	width: calc(100% + .3em);
	padding-top: .2em;
	padding-bottom: .2em;
	margin-left: -.2em;
	padding-left: .2em;
	color: rgba(255, 255, 255, .76);
}
/* .Node.is-currentRoot > .Node-renderedNote,
.Node.is-currentRoot > .Node-self .Node-note
{
		width: calc(100% - .5em);
		margin-left: .5em;
	padding: .3em .7em;
		line-height: 1.7 !important;
} */
/* item normal */

.Node-children .Node-renderedContent,
.Node-children .Node-content
{
	width: calc(100% + .3em);
	margin-left: -.3em;
	padding-left: .3em;
	line-height: 1.5;
	padding-top: .16em;
	padding-bottom: .24em;
	color: rgba(255, 255, 255, .66);
}
/* item container */

.Node-self
{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.Node-children .Node-outer .Node
{
	margin-top: 0;
	border: none;
}
.Node-children .Node-outer
{
	margin: 1px 0;
}
.Node-children .Node-outer:last-of-type
{
	margin-bottom: .6em;
}
/* note */

.Node-noteContainer
{
	/* 	margin-top: .1em; */
	/* 	margin-bottom: .4em; */
}
.Node-note,
.Node-renderedNote
{
	width: calc(100% + .36em);
	min-height: 1.6em !important;
	margin-left: -.36em;
	padding: .0em .36em;
	line-height: 1.7 !important;
	color: rgba(255, 255, 255, .38);
}
/* .Node-renderedNote:before,
.Node-note:before,
.Node-noteContainer:before
{
		content: "!"
} */
/* .Node-self.is-showingNoteFirstLine:not(.is-noteEmpty) .Node-note,
.Node-self.is-showingNoteFirstLine:not(.is-noteEmpty) .Node-renderedNote
{
		display: none;
} */
/* item hover and focus */

.Node-content:hover,
.Node-renderedContent:hover,
.Node-note:hover,
.Node-renderedNote:hover
{
	/* 	background: #363839; */
	
	background: rgba(255, 255, 255, .06);
	color: rgba(255, 255, 255, .66);
}
.Node-content:focus,
.Node-renderedContent:focus,
.Node-note:focus,
.Node-renderedNote:focus
{
	opacity: 1;
	background: rgba(255, 255, 255, .09);
	color: rgba(255, 255, 255, .86);
}
.CurrentLineHighlight
{
	background: none;
}
/* item checked */

.Node.is-checked .Node-checkbox,
.Node.is-checked .Node-content,
.Node.is-checked .Node-renderedContent,
.Node.is-checked .Node-note,
.Node.is-checked .Node-renderedNote
{
	opacity: .3;
	color: inherit;
}